// variables
$alert-success-color: white;
$alert-danger-color: white;
$alert-info-color: white;
$alert-avertissement-color: white;

$alert-success-bcgc: #1CB841;
$alert-danger-bcgc: #F04124;
$alert-info-bcgc: #16bcf7;
$alert-avertissement-bcgc: #ffaf1e;


.alert{
  @include border-radius(4px);
  @include box-shadow(0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05));
  padding: 8px 35px 8px 14px;
  margin-bottom: 1.1rem;
  font-weight: bold;

  &.alert-on-top {
    position: fixed;
    top: 10px;
    z-index: 80;
  }

  &.alert-on-center {
    position: fixed;
    top: 10px;
    z-index: 80;
  }

  &.alert-on-bottom {
    position: fixed;
    bottom: 10px;
    z-index: 80;
  }
}

.alert-success{
  background-color: $alert-success-bcgc;
  color: $alert-success-color;
}

.alert-danger {
  background-color: $alert-danger-bcgc;
  color: $alert-danger-color;
}
.alert-info {
  background-color: $alert-info-bcgc;
  color: $alert-info-color;
}
.alert-avertissement {
  background-color: $alert-avertissement-bcgc;
  color: $alert-avertissement-color;
}

a.alert-close {
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  font-size: 26px;
  line-height: 26px;
  float: right;
  opacity: .4;
  &:hover{
    color: #000000;
    opacity: 1;
  }
}