.clearfix{
  zoom: 1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  .row.hagrid-row{
    background-color: lighten(#fcaaa3, 5%);
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 1rem;
    span hr{
      margin: 0;
    }
  }
  .row .grid-ex{
      border: 1px solid gray;
      .col{
        background-color: rgba(225, 225, 225, 0.66);
        border: 3px solid white;
        padding: 0.2rem;
        &:nth-child(2){
          background: rgba(167, 152, 155, 0.69);
        }
      }
      .no-border{
        border-right: none !important;
      }
  }
}

.hagrid-row{
  > div{
    //padding: 5px;
    &:nth-child(odd) {
      background-color: darken(#fcaaa3, 10%);
    }
    .box{
      min-height: 36px;
    }
  }
}

.hagrid-main{
  border-left: 1px solid lightgray;
  padding: 0 13px;
  @media only screen and (min-width: $desktop){
    padding-left: 50px;
  }
}


.desktop-menu{
  background-color: #ffffff;
}

.side-nav{
  height: 100%;
  nav{
    margin: auto;
  }
  ul{
    display: block;
    padding: 0.77778rem 0;
    list-style-type: none;
    list-style-position: outside;
    li a{
      display: block;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
      color: #525252;
      padding: 0.38889rem 0.77778rem;
      font-size: 0.875rem;
      font-weight: normal;
      text-decoration: none;
      &:hover{
        background-color: whitesmoke;
        color: lightcoral;
        //@include transition-property(background-color);
        //@include transition-duration(0.2s);
        //@include transition-timing-function(ease-in);
      }
      &.actif{
        background-color: lightcoral;
        font-weight: bold;
        border: none;
        color: #00162d;
      }
    }
  }
}

h1.hg-subtitle,
h2.hg-subtitle,
h3.hg-subtitle,
h4.hg-subtitle,
h5.hg-subtitle,
h6.hg-subtitle{
  padding-left: 6px;
  border-left: 3px solid #1FA2D6;
  margin: 2rem auto;
}


.hg-link{
  color: #f07472;
  &:hover{
    border-bottom: 1px dotted #F07472;
    color: darken(#f07472, 15%);
  }
}

.hagrid-footer{
  margin-top: 2rem;
  height: 75px;
  line-height: 75px;
  background-color: #0e0b04;
  color: #ffffff;
  p{
    font-size: 0.750rem;
    margin: 0;
  }
}

.hg-jum{
  h1.hg-title{
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 4px 3px 0px #444349, 9px 8px 0px rgba(0, 0, 0, 0.15);
    line-height: 1;
    @media only screen and (min-width: $tablet){
      font-size: 4rem;
    }
    @media only screen and (min-width: $desktop){
      font-size: 5rem;
    }
  }
  p{
    color: #c7e7dc;
    font-size: 1.1rem;
  }
  .hg-btn{
    font-size: 24px;
    margin-right: 6px;
    color: #ffffff;
    border-color: #c7e7dc;
    background-color: transparent;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    @include border-radius(6px);
    &:hover{
      color: lightcoral;
      background-color: #ffffff !important;
      border-color: #FCAAA3;
    }
  }
}

.beta{
  position: absolute;
  top: 0px;
  right: 0px;
}