
$second-syntax: false;



// grid variables
$wrapper-max-width: 1200px !default;
$grid-columns: 12 !default;
$gutter: 0% !default;
$tablet: 40.063em !default; // 641px
$desktop: 64.063em !default; // 1025px

// Function qui retourne la constante
// permettant de calculer les width des colonnes
@function calculate-grid($total-grid-columns, $gutter-size){
  @return ((100% - ($total-grid-columns - 1) * $gutter-size) / $total-grid-columns);
}



/*=======================*/
/* @Mixins
/*======================*/

// Grille du style: $suffix-#i

@mixin responsive-columns($suffix: ''){
  @for $i from 0 through $grid-columns{
    @if $i != 0 {
      .#{$suffix}-#{$i}{
        width: 100% - (($grid-columns - $i) * (calculate-grid($grid-columns, $gutter) + $gutter));
        margin-right: $gutter;
        &:last-child{
          margin-right:0;
        }
      }
    }
    .#{$suffix}-push-#{$i}{ left:$i / $grid-columns * 100%; }
  }
}

// Grille du style: $suffix-#i-#j

@mixin fraction-columns($suffix: ''){

  @for $i from 1 through ($grid-columns - 1){
    .#{$suffix}-#{$i}{
      width: 100%;
    }
    @for $j from 1 through ($grid-columns){
      .#{$suffix}-#{$i}-#{$j}{
        width: 100% / $j * $i;
      }
    }
  }
}

/*==================*/
/* %Extends
/*================*/
%col{
  float: left;
  position: relative;
  min-height: 1px;
  @if($gutter == 0%){
    padding-left: 0.625rem;
  }@else {
    padding:0;
  }
}

/*==============*/
/* Container
/*=============*/
.wrapper {
  max-width: $wrapper-max-width;
  margin: 0 auto;
  padding-top: 3.5rem;
  @media only screen and (min-width: $tablet){
    padding-top: 0;
  }
  .row{
    margin: 0 auto 0.3rem 0;
    width: 100%;
    height: 100%;
    clear: both;
    @include clearfix;
  }
}


/*=========*/
/* Grid
/*========*/

@if ($second-syntax){

  @for $i from 1 through ($grid-columns - 1){
    @for $j from 1 through ($grid-columns){
      .sm-#{$i}-#{$j}, .md-#{$i}-#{$j}, .lg-#{$i}-#{$j} { @extend %col; }
    }
  }
  @include fraction-columns('sm');
  @media only screen and (min-width: $tablet) {
    @include fraction-columns('md');
  }
  @media only screen and (min-width: $desktop) {
    @include fraction-columns('lg');
  }

}@else if ( $second-syntax == false){ // ELSE
  @include responsive-columns('sm');
  @for $i from 1 through $grid-columns{
    .sm-#{$i}, .md-#{$i}, .lg-#{$i} { @extend %col; }
  }
  @media only screen and (min-width: $tablet) {
    @include responsive-columns('md');
  }
  @media only screen and (min-width: $desktop) {
    @include responsive-columns('lg');
  }
}


/*================*/
/* Media queries
/*===============*/

/*----------/
/* Mobile */

@include responsive-columns('sm');
.columns {
  width: 100%;
  position: relative;
  display: block;
  @if ($gutter == 0%){
    padding: 0 0.388rem;
  }
}
.sm-center{ margin: 0 auto !important; float: none !important; }

.sm-show{ display: block !important;}
.hide-only-sm{ display: none !important}

.md-show{ display: none !important; }
.lg-show{ display: none !important; }

/*-----------------/
/* Medium Screen */

@media only screen and (min-width: $tablet) {

  .hide-only-sm{ display: block !important}
  .md-center{ margin: 0 auto !important; float: none !important; }
  .md-hide{ display: none !important; }
  .md-show{ display: block !important; }

  .sm-show{ display: none !important; }
}

/*----------------/
/* Large Screen */

@media only screen and (min-width: $desktop) {

  .lg-center{ margin: 0 auto !important; float: none !important; }

  .md-show{ display: none !important; }
  .lg-hide{ display: none !important; }
  .lg-show{ display: block !important; }
}