/*===========================*/
/*========Variables=========*/

$jumbotron-bgc: #efe9e0;
$jumbotron-border-radius: 3px;
$jumbotron-font-size: 1.250rem;


.jumbotron-container{
  width: 100%;
  padding: 80px;
  background-image: url("../img/stardust.png");
  .jumbotron{
    width: 100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color: $jumbotron-bgc;
    @include border-radius($jumbotron-border-radius);
    @include box-shadow(0 4px 7px rgba(black, 0.23), 0 8px 25px rgba(black, 0.05));
    h1{
      color: #413f3d;
      font-weight: bolder;
    }
    p{
      font-size: $jumbotron-font-size;
      line-height: 1.1;
    }
  }
}
